body {
	background: #efdee8;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #333;
}

.main {
	font-size: 0.3rem;
	background-color: #ffcccc;
	box-shadow: -0.05rem 0.05rem 0.05rem #a87091 inset;
	border-radius: 0.2rem;
	width: 5rem;
	padding: 0.75rem;
	margin: 2rem auto;
}

.main input {
	width: 5rem;
	border: 1px solid #ccc;
	padding: 0.1rem 0px;
	margin-bottom:0.2rem;
	border-radius: 0.03rem;
	padding-left: 0.05rem;
	color: #555555;
}

#input input {
	margin-top: 0.1rem;
}

button:hover {
	color: #f77b83;
	border-color: #f77b83;
	outline-style: none;
}

button {
	margin-top: 0.2rem;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	background: #444;
	letter-spacing: 1px;
	font-size: 0.14rem;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-shadow: none;
	border: 1px solid #ccc;
	line-height: 0.56rem;
	text-align: center;
	height: 0.56rem;
	padding: 0 0.25rem;
	border-radius: 0.16rem;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	background-color: #fff;
	color: #999;
}

#link {
	/* text-align: center; */
	color: #555555;
}

footer {
	margin-top: 0.2rem;
	font-size: 0.12rem;
	width: 100%;
	text-align: center;
}
