<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="https://www.zkl2333.com/usr/themes/lpisme/images/favicon.ico">
    <title>
        <%= error %>
    </title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Helvetica, Arial, "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "tohoma,sans-serif";
        }

        a,
        button.submit {
            color: #6E7173;
            text-decoration: none;
            -webkit-transition: all .1s ease-in;
            -moz-transition: all .1s ease-in;
            -o-transition: all .1s ease-in;
            transition: all .1s ease-in;
        }

        a:hover,
        a:active {
            color: #6E7173;
        }

        .body404 {
            position: absolute;
            height: 100%;
            width: 100%;
            background: #fff;
            background-size: auto 100%;
            text-shadow: 1px 1px 0 #fff;
        }

        .body-about .body404 {
            background: #fff;
        }

        .site-name404 {
            margin: 0 auto;
            text-align: center;
            letter-spacing: 2px;
            font: normal 150px/1 “Helvetica Neue”, Helvetica, Arial;
            color: #444;
        }

        .site-name404 h1 {
            margin: 0 0 10px;
            font-size: 50px;
            line-height: 1.2;
        }

        .title404 span {
            font-size: 15px;
            width: 2px;
        }

        .site-name404 i {
            font-style: normal;
        }

        .title404 p {
            font-size: 15px;
            line-height: 1.5;
            margin: 0;
            color: #444;
        }

        .info404 {
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
            margin-top: -160px;
        }

        .body-about .info404 {
            margin-top: -180px;
        }

        #footer404 {
            margin-top: 30px;
            font-size: 10px;
        }

        .index404 {
            margin-top: 24px;
            display: inline-block;
            white-space: nowrap;
            cursor: pointer;
            background: #444;
            letter-spacing: 1px;
            font-size: 14px;
            -moz-user-select: -moz-none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            text-shadow: none;
            border: 1px solid #ccc;
            line-height: 36px;
            text-align: center;
            height: 36px;
            padding: 0 25px;
            border-radius: 16px;
            -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
            background-color: #fff;
            color: #999;
        }

        .index404:hover {
            color: #F77B83;
            border-color: #F77B83;
            outline-style: none;
        }

        .icon-about {
            padding: 10px 0 25px;
        }

        .icon-about a {
            font-size: 20px;
            margin: 5px;
            color: #fff;
            background-color: #000;
            border-radius: 100%;
            padding: 6px;
        }

        .errmsg {
            font-size: 25px;
            line-height: 1.5;
            margin: 0;
            color: #444;
            margin-bottom: 40px;
        }
    </style>
</head>

<body>
    <div class="body404">
        <div class="info404">
            <header id="header404" class="clearfix">
                <div class="site-name404">
                    <i>
                        <%= code %>
                    </i>
                </div>
                <p class="errmsg">
                    <%= error %>
                </p>
            </header>
            <section>
                <div class="title404">
                    <p>没有谁的生活会一直完美，但无论什么时候，都要看着前方，满怀希望就会所向披靡。</p>
                </div>
                <a href="/set" class="index404">返回设置</a>
                <a href="/" class="index404">查看模板</a>
            </section>
            <footer id="footer404">© 2018 MySpace</br>
                <a href="http://www.miitbeian.gov.cn">浙ICP备17004361号-1</a>
                <!-- 遵纪守法好公民 -->
            </footer>
        </div>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- wz -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3829902021121895" data-ad-slot="2283129208" data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</body>

</html>

</html>